.bg-stats {
  color: #fff;
  background: rgb(27, 36, 66);
  background: linear-gradient(
    180deg,
    rgba(27, 36, 66, 1) 0%,
    rgba(20, 170, 228, 1) 100%
  );
}

.btn-comment {
  background-color: rgba(220, 225, 138, 0.2);
}
