.mat-dialog-container {
  border-radius: 17px !important;
  padding: 40px !important;
}

.mat-dialog-title {
  font-family: "Poppins" !important;
}

.mat-menu-panel {
  max-width: 300px !important;
}

.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
