.main-loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  user-select: none;
}

.main-loading {
  margin: auto;
  border: 8px solid #eaf0f6;
  border-radius: 50%;
  border-top: 8px solid #37a6e2;
  width: 80px;
  height: 80px;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
