.mat-autocomplete-panel {
  border-radius: 17px !important;
  padding: 8px 12px !important;
  border: 0 !important;

  .mat-option {
    padding: 0 !important;
    margin-bottom: 20px !important;
    height: auto !important;

    @include media-breakpoint-up(md) {
      img {
        width: 70px;
        margin-right: 0.5rem;
      }
    }

    img {
      width: 40px;
      margin-right: 0.5rem;
    }

    span {
      font-weight: normal;
    }

    button {
      border-top: 1px solid var(--grey);
      text-align: center;
      padding: 8px;
      cursor: pointer;
    }
  }
}
