.mfd-patient-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.mfd-patient-sidebar-info {
  width: 100%;
}

.patient-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 16px;

  .patient-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}

.patient-main-data {
  display: flex;
  flex-direction: column;
}

.patient-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.mfd-patient-sidebar-menu {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  button {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.patient-comment {
}

@media (max-width: 991.98px) {
  .patient-main-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .patient-data {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 8px;
    flex: 1;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mfd-patient-sidebar-menu {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      margin-bottom: 12px;
      flex: 1;
      margin-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      display: block;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .patient-main-data {
    overflow-x: hidden;
  }
}
