.mfd-plan-info {
}

.mfd-plan-option-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pinkish-grey) !important;
  border-radius: 17px !important;
  margin-bottom: 16px;

  button {
    flex: 1;
    transition: all ease 0.3;
  }
}

.mfd-plan-item-container {
  width: 100%;
  flex: 1;
}

.plan-item-wrapper {
  display: flex;
  flex-direction: row;
}

.plan-item-image {
  width: 240px;

  img {
    width: 100% !important;
    height: auto;
    max-height: 200px;
  }
}

.plan-item-info {
  flex: 1;
  padding-left: 16px;
}

.plan-item-selected {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item-selection {
  border: 1px solid transparent;
  &.active-item {
    border: 1px solid var(--greyish);
  }
}

@media (max-width: 767.98px) {
  .plan-item-wrapper {
    flex-direction: column;
  }

  .plan-item-info {
    padding-left: 0;
  }

  .plan-item-image {
    flex: 1;
    width: auto;
  }
}
